{% extends 'Accounts/base.html' %} 
{% block content %}


<div class="card w-75 position-absolute top-50 start-50 translate-middle shadow-lg p-3 mb-5 bg-body rounded justify-content-between">
    <div class="card-header bg-primary text-light">
      CREATE WORK ORDER
    </div>
    <div class="card-body">

        <form action="" method="POST">
            {% csrf_token %} 
            
            <div class='row'>
              {{form}}
              
            </div>
            
          <br>
            <div class='form-group'>
              <input type="submit" name="submit" class='btn btn-outline-primary' />
            </div>
          
            
          </form>
     
    </div>
  </div>



{% endblock content %}
